@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Home.css" />

<div class="container_home mb-3">
    <div class="img_Home_Banner">
        <h1 class="titulo_Home">Four <p class="titulo2_Home">Gold</p></h1>
        <h2 class="subtitulo_Home">Venha ser</h2>
    </div>
</div>
<hr class="Separador" />
<div class="container_home mb-3">
    <div class="img_Home_coolKid">
    </div>
    <div class="text_Home">
        <h1>
            Com a poupança Super Gold você protege o futuro de quem mais importa!
        </h1>
    </div>
</div>

<div class="container_home mb-3">
    <div class="text_Home">
        <h1>
            Com a confiabilidade da Four Gold, você pode entrar de olhos fechados!
        </h1>
    </div>
    <div class="img_Home_blind">
    </div>
</div>

<div class="container_home mb-3">
    <div class="img_Home_fundadores">
    </div>
    <div class="text_Home">
        <h1>Fundador:</h1>
        <hr />
        <h2>Gustavo Garrido</h2>
        <p>
            Excelente visionário. <br />
            Professor e desenvolvedor exemplar, teve a ideia de criar um banco honesto, confiável, com rendimento alto e brasileiro.
            <br />
            Gustavo fechou contrato com a empresa <strong>Grupo 1</strong>, equipe formada por excelentes desenvolvedores que tornou realidade
            a ideia do melhor Banco.
        </p>

        <br />

        <h1>Equipe Grupo 1</h1>
        <hr />
        
        <div class="grupo1">
            <div class="Desenvolvedor">
                <h2>Ciro Hideki</h2>
                <p class="img_perfil">
                    <img class="imagem_Perfil" src="~/img/perfilCiro.jpg"/>
                </p>
                <p>
                    <strong>Desenvolvedor Full-stack</strong>
                </p>
            </div>

            <div class="Desenvolvedor">
                <h2>Kamilla Hérica</h2>
                <p class="img_perfil">
                    <img class="imagem_Perfil" src="~/img/PerfilKamilla.jpeg" />
                </p>
                <p>
                    <strong>Desenvolvedora Full-stack</strong>
                </p>
            </div>

            <div class="Desenvolvedor">
                <h2>Lucas Freitas</h2>
                <p class="img_perfil">
                    <img class="imagem_Perfil" src="~/img/perfilLucas.jpg"/>
                </p>
                <p>
                    <strong>Desenvolvedor Full-stack</strong>
                </p>
            </div>
        </div>

        <br />

        <div class="grupo1">
            <div class="Desenvolvedor">
                <h2>Gabriel Luiz</h2>
                <p class="img_perfil">
                    <img class="imagem_Perfil" src="~/img/perfilGabriel.jpg"/>
                </p>
                <p>
                    <strong>Desenvolvedor Full-stack</strong>
                </p>
            </div>

            <div class="Desenvolvedor">
                <h2>Raphael Morette</h2>
                <p class="img_perfil">
                    <img class="imagem_Perfil" src="~/img/PerfilRaphael.jpeg" />
                </p>
                <p>
                    <strong>Desenvolvedor Full-stack</strong>
                </p>
            </div>
        </div>
    </div>
    

</div>

